<% provide :title, (t "static_pages.home.about") %>
<h1>About</h1>
<p>
  The <a href= <%= t "static_pages.url.rails" %> >
    <em><%= t "static_pages.home.tit" %></em></a> is a
  <a href= <%= t "static_pages.url.book" %> ><%= t "static_pages.book" %></a>
    <%= t "static_pages.book" %>
  <a href= <%= t "static_pages.url.screen" %> >
    <%= t "static_pages.screen" %></a>
  <%= t "static_pages.to_teach" %>
  <a href= <%= t "static_pages.url.rails" %> >
    <%= t "static_pages.home.tit" %></a>.
  <%= t "static_pages.sample" %>
</p>
