<% provide :title, (t "static_pages.home.help") %>
<h1>Help</h1>
<p>
  <%= t "static_pages.get_help" %>
  <a href= <%= t "static_pages.url.help" %> ><%= t "static_pages.rails_help" %>
    </a>.<%= t "static_pages.to_get_help" %>
  <a href= <%= t "static_pages.url.book" %> >
    <em><%= t "static_pages.home.tit" %></em>
  <%= t "static_pages.book" %></a>.
</p>
